body {
    background-color: rgb(42, 42, 42);
}

#content {
    background-color: rgb(47, 47, 47);
    border-style: groove;
    border-color: black;
    color: white;
    font-size: 30px;
    width: 20cm;
    height: 8cm;
    text-align: center;
    margin: auto;
}

#result {
    background-color: rgb(73, 73, 73);
    line-height: 2cm;
    font-size: 35px;
    width: 12cm;
    height: 2cm;
    border: black;
    border-radius: 4px;
    border-style: groove;
    margin-left: 4cm;
}

#numbers {
    margin-bottom: 10cm;
}

#generate {
    font-size: 35px;
    border-color: black;
    border-radius: 8px;
    margin-top: 1cm;
}

#generate:hover{
    background-color: rgb(197, 195, 195);
}