body {
    background-color: rgb(42, 42, 42);
}

#content {
    background-color: rgb(47, 47, 47);
    color: white;
    font-size: 30px;
    width: 20cm;
    text-align: center;
    border-style: groove;
    border-color: black;
    height: 10cm;
}



#generate {
    font-size: 25px;
    border-color: yellow;
    border-radius: 4px;
    margin-top: 20px;
}
